# Created by .ignore support plugin (hsz.mobi)
# Ignore the target folder
target/

# Ignore IntelliJ
.idea/*
*.iml
local.properties.yml
allure-results/
allure-report/
build/
allure-report/

src/test/java/com/ahold/ecommerce/data/snapshotnaam_baseline-attachment.PNG
src/test/java/com/ahold/ecommerce/data/promoElement_baseline-attachment.PNG
src/test/java/com/ahold/ecommerce/data/bannerElement_baseline-attachment.PNG
