# Created by .ignore support plugin (hsz.mobi)
# Ignore the target folder
target/

# Ignore IntelliJ
.idea/*
*.iml
local.properties.yml
allure-results/
allure-report/
build/
src/test/java/com/ahold/ecommerce/data/allure_compare_images/

