# sets binary and boolean value for screenshots
webdriver.binary.path: src/test/resources/binaries
webdriver.screenshots: true

# set environment of choice
target.host.name: tst8.ah.nl

# set local or remote browser
browser.name.local: chrome
#--options--#
#firefox
#chrome
#firefoxVersion
#chromeVersion
browser.name.remote: chrome
#--options--#
#firefox
#chrome


#set local browser version when using specific version
firefox.version: v0.17.0
chrome.version: 2.79