# set environment of choice
target.host.name: tst8.ah.nl

# set local browser
browser.name.local: chrome
#firefox
#chrome

# set remote browser
browser.name.remote: chrome
#firefox
#chrome

#set local browser driver version. latest is the latest version
firefox.driver.version: latest
#example: v0.17.0
chrome.driver.version: latest
#example: 2.30



