# set environment of choice
target.host.name: tst8.ah.nl

# set local or remote browser
browser.name.local: chrome
#--options--#
#firefox
#chrome

#set local browser version when using specific version
firefox.version: latest
chrome.version: latest

browser.name.remote: chrome
#--options--#
#firefox
#chrome

# sets binary and boolean value for screenshots
webdriver.screenshots: true



